@import '/src/styles/mixins';

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;

  .content {
    @include container();
    position: relative;
  }

  .localeSelector {
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 2rem;
    position: absolute;
    right: 0;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .localeLink {
      padding: 0 0.5rem;
      text-decoration: none;
    }

    .localeLinkActive {
      padding: 0 0.5rem;
      text-decoration: none;
      opacity: .3;
    }
  }
}